<header class="shadow-lg py-4">
  <div class="flex items-center justify-between container">
    <div class="h-[69px] w-[69px]">
      <a href="#">
        <img
          src="/assets/images/logo.png"
          alt="logo"
          class="h-[69px] w-[69px] object-cover"
        />
      </a>
    </div>
    <nav class="max-md:hidden">
      <ul class="flex flex-wrap items-center text-primary text-xl gap-x-6">
        <li><a href="#">Пиццы</a></li>
        <li><a href="#">Напитки</a></li>
        <li><a href="#">Доставка и оплата</a></li>
        <li><a href="#">Контакты</a></li>
      </ul>
    </nav>
    <div class="max-md:block hidden cursor-pointer">
      <svg-icon icon="bars" size="24"></svg-icon>
    </div>
  </div>
</header>
